<html>
    <head>
        <title>
            COVID19-LK REST API
        </title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <style>
        .cntr{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	    
        }
        </style>
    </head>
    <body bgcolor="black">
        <div class="cntr">
            <img src="https://i.imgur.com/FEDTpyE.gif">
        </div>
    </body>
</html>